SECRET_KEY=cambiar_esta_clave
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/tienda_deportiva
ADMIN_USERNAME=admin
ADMIN_PASSWORD=AdminSeguro123
ACCESS_CODE_EMPLEADO=EMP-2026
ACCESS_CODE_GERENTE=GER-2026
ACCESS_CODE_ADMIN=ADM-2026
